[user]
    signingkey = ***
    email = shivanib134@gmail.com
    name = Shivani Bhardwaj
[core]
    editor = vim
    whitespace = fix,space-before-tab,-indent-with-non-tab,tabwidth=4,trailing-space,cr-at-eol
    excludesfile = /home/ard/.gitignore_global
[web]
    browser = firefox
[branch "master"]
    pushRemote = false
[color "branch"]
    current = yellow bold
    local = green bold
    remote = red bold
[color "grep"]
    matchSelected = yellow dim
[color "diff"]
    meta = cyan bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
[clean]
    requireForce = true
[commit]
    verbose = 2
[diff]
    renames = true
    tool = vimdiff3
[difftool]
    prompt = true
[github]
    user = inashivb
[gitlab]
    user = ***
[format]
    from = true
[help]
    autocorrect = immediate
[blame]
    blankBoundary = true
[alias]
    ## CHECK STATUS ##
    s = status
    ## GET REMOTE DATA ##
    f = fetch
    p = pull
    ## CHECK DIFF ##
    d = diff
    dc = diff --cached
    ## CHECKOUT ##
    ch = checkout
    chb = checkout -b
    ## COMMIT ##
    c = commit
    cm = commit -m
    ca = commit -a
    cma = commit -am
    cc = commit --amend
    ## ADD ##
    a = add
    cf = clang-format
    ## REBASE ##
    rb = rebase
    rs = rebase -i
    rba = rebase --abort
    rbc = rebase --continue
    ## PUSH ##
    pu = push origin HEAD
    pf = push -f origin HEAD
    ## LOG ##
    l = log
    ll = log --oneline
    ## BRANCH ##
    b = branch
    ba = branch -a
    bd = branch -d
    bdr = branch -D
    ## CLONE ##
    cl = clone
    cld = clone --depth 1
    ## CHERRY-PICK ##
    cp = cherry-pick
    cpx = cherry-pick -x
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue
    ## MERGE-REQUESTS ##
    mr = !sh -c \"git fetch upstream merge-requests/${1}/head:mr/${1} && git checkout mr/${1}\"
    ## PULL-REQUESTS ##
    pr = !sh -c \"git fetch upstream pull/${1}/head:pr/${1} && git checkout pr/${1}\"
    ## RESET ##
    re = reset
    rh = reset HEAD
    ## STASH ##
    sa = stash apply
    sd = stash drop
    sp = stash pop
    ss = stash show
    ## WORKTREE ##
    wl = worktree list
